body{
    /* background: linear-gradient(135deg, #1B8AF1, #B58DED);
    height: 100vh;
    width: 100%; */
    text-align: center;
}

h4{
    font-size: 35px;
    margin-top: 5%;
    margin-bottom: 2rem;
}

form{
    display: inline-block;
    align-items: center;
    height: 200px;
    width: 300px;
    margin-bottom: 100px;
}

.text_area{
    align-content: center;
    border-radius: 22px;
    margin-bottom: 35px;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

.text_input{
    /* margin-top: 1.1; */
    /* font-family: 'Montserrat regular'; */
    font-size: 15px;
    border: none;
    width: 80%;
}

.btn{
    /* margin-top: -0%; */
    width: 130px;
    height: 50px;
    border-radius: 30px;
    background: #B58DED;
    border: none;
    /* font-family: 'Montserrat'; */
    font-size: 15px;
    color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(181, 141, 237, 0.7), 0 6px 20px 0 rgba(181, 141, 237, 0.9);
    cursor: pointer;
}

.login{
    display: inline-block;
    background: #FFFFFF;
    width: 400px;
    height: 450px;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .link{
    color: #0E4579;
    font-family: 'Montserrat light';
    font-size: 18px;
    cursor: pointer;
    display: block;
    text-decoration: none;
} */

.logo {
    height: 40%;
}

.background{
    background-image: url('./../../components/Icons/UBJagBuilding.jpg') ;
    background-repeat: no-repeat;
    background-size: auto;
    /* opacity: 70%; */
}